body {
    background-color: whitesmoke;
}

#message {
    text-align: center;
    margin-right: 500px;
    display: block;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

h1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;


}

.cell {
    width: 100px;
    height: 100px;
    border: solid black;
    margin: 1px;
    display: inline-block;
    font-size: 100px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

}

.cell:hover {
    background-color: lightblue;
}

#restart {
    padding: 20px;
    margin: auto;
    display: block;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 4px;
}

#restart span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#restart span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#restart:hover span {
    padding-right: 25px;
}

#restart:hover span:after {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 700px) {

    .container {
        /* position: fixed;  */
        /* display: block; */
    }
}