body {
    background-color: whitesmoke;
}

#message {
    text-align: center;
    margin-right: 500px;
    display: block;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

h1 {
    text-align: center;
   background-color:;
   display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;


}

.cell {
    width: 100px;
    height: 100px;
    border: solid black;
    margin: 1px;
    display: inline-block;
    transition: 0.5s all;
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;

}

.cell:hover {
    background-color: lightblue;
}

#restart {
    padding: 20px;
    margin: auto;
    display: block;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}